@charset "utf-8";
/* CSS Document */
body, ol, ul, h1, h2, h3, h4, h5, p, blockquote, th, td, dl, dt, dd, form, input, textarea, select {
	margin: 0;
	padding: 0
}
address, cite, code, dfn, b, em, var, i {
	font-style: normal;
	font-weight: 400
}
em, strong {
	font-weight: 700
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700
}
ul, ol {
	list-style: none
}
img {
	border: 0;
	vertical-align: top
}
input, textarea, select {
	vertical-align: middle;
	outline: 0
}
body {
	font: 14px "microsoft yahei";
	color: #333;
	background: #fff
}
a {
	color: #333;
	text-decoration: none
}
a:hover, a:active {
	text-decoration: none
}
table, table td, table th {
	border: 1px solid #ddd;
	border-collapse: collapse
}
table td {
	padding: 5px
}
.clearfloat {
	zoom: 1
}
.clearfloat:after {
	display: block;
	content: '';
	height: 0;
	clear: both
}
html, body, .container {
	width: 100%;
	height: 100%
}
/*左边*/
.bellows {
	width: 200px;
}
.bellows__item:not(.bellows--is-open) > .bellows__content {
	display: none;
}
.bellows__item.bellows--is-open > .bellows__content-wrapper, .bellows__item.bellows--is-closing > .bellows__content-wrapper {
	display: block;
}
.bellows__content-wrapper {
	display: none;
}
.bellows {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.bellows__header {
	width: 200px;
	height: 50px;
	position: relative;
	padding: 15px 20px;
	border: 1px solid #2980b9;
	border-width: 0 0 1px;
	background: #3498db;
	color: white;
	-webkit-tap-highlight-color: transparent;
}
.bellows a {
	color: #fff;
}
.bellows__header:active {
	background: #2980b9;
}
.bellows__header::before, .bellows__header::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 20px;
	z-index: 2;
	display: block;
	width: 16px;
	height: 4px;
	margin-top: -2px;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.25s ease-in-out;
	transition: transform 0.25s ease-in-out;
}
.bellows__header::before {
	content: '';
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
.bellows__header::after {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.bellows__item.bellows--is-open > .bellows__header::before, .bellows__item.bellows--is-opening > .bellows__header::before {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.bellows__item.bellows--is-open > .bellows__header::after, .bellows__item.bellows--is-opening > .bellows__header::after {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.bellows__item:last-child > .bellows__header {
	border-bottom: 0;
}
.bellows__header h1, .bellows__header h2, .bellows__header h3, .bellows__header h4 {
	margin: 0;
}
.bellows__content ul {
	width: 182px;
	height: auto
}
.bellows__content ul li {
	width: 182px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px dashed #DFDFDF;
}
.bellows__content ul li span {
	width: 10px;
	height: 10px;
	display: block;
	margin: 20px 5px 0 20px;
	float: left;
	background-image: url(../images/index.png);
	background-repeat: none;
	background-position: -17px -23px;
}
.bellows__content ul li a {
	font-size: 14px;
	display: block;
	float: left;
	width: 100px;
	height: 50px;
	line-height: 50px;
}
.bellows__content ul li a:hover {
	color: #F60;
}
.bellows__content .bellows {
	margin-top: 20px;
}
.bellows__header h3 {
	text-align: center;
}
.bellows__header h3 a {
	display: block;
	width: 100%;
	height: 100%
}
* {
	box-sizing: border-box;
}
.cjwt {
	width: 180px;
	height: auto;
	border: 1px solid #dddddd;
	margin-top: 20px;
	padding-bottom: 10px;
}
.cjwt .wt_bt {
	height: 50px;
	font-weight: bold;
	line-height: 50px;
}
.cjwt li {
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	font-size: 14px;
}
.cjwt li a {
	color: #666666;
}
.cjwt li a:hover {
	color: #F60;
}
.cjwt .lxkf a {
	color: #09F
}
/*公共样式*/
.biaoti {
	width: 1200px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #dddddd;
	padding-left: 20px;
	background: #f8f8f8;
	font-size: 16px;
}
.main_right_a {
	width: 978px;
	height: auto;
	float: right;
	border: 1px solid #ddd;
	padding-bottom: 20px;
}
.s-bt {
	width: 890px;
	margin: 0 auto;
	height: 26px;
	line-height: 26px
}
.blue {
	color: #1683c6;
}
.ts {
	color: #BEBEBE;
}
.red {
	color: #F00
}
.anniu {
	background: #ff7701;
	border: medium none;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 135px;
}
/*当前位置*/
.now-position {
	width: 1200px;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	background: url(../images/room-ico01.png) no-repeat 3px center;
	padding: 0 0 0 25px;
	color: #9b9b9b;
}
.now-position a {
	color: #0093d3;
}
/*用户中心*/
.user_xx_bg {
	width: 100%;
	height: 150px;
	background-image: url(../images/user_xx_bg.png);
	background-repeat: none;
}
.user_xx {
	width: 1140px;
	height: 150px;
	margin: 0 auto;
}
.user_xx_l {
	width: 70%;
	float: left;
}
.user_xx_l .xx_left {
	width: 108px;
	height: 108px;
	background: #b9bec4;
	margin-top: 21px;
	padding: 8px 0 0 8px;
	float: left;
}
.user_xx_l .xx_right {
	height: 150px;
	float: left;
	margin-left: 27px;
	padding-top: 18px;
	margin-right:40px;
}
.xx_right i{font-size:14px;color:#FFF;}
.user_xx_l .xx_right p {
	color: #FFF;
	font-size: 18px;
	margin-top: 14px;
	margin-bottom:10px;
}
.user_xx_l .xx_right .rz {
	width: auto;
	height: auto;
	margin-top: 16px;
}
.user_xx_l .xx_right .rz .hydj {
	display: block;
	width: 68px;
	height: 23px;
	float: left;
	background: url(../images/index.png) no-repeat;
	background-position: -332px -220px;
	background-position: -122px -220px;
	background-position: -192px -220px;
	background-position: -262px -220px;
}
.user_xx_l .xx_right .rz .smrz {
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	background: url(../images/index.png) no-repeat;
	background-position: -20px top;
	background-position: -82px top;
	margin: 4px 0 0 20px;
}
.user_xx_l .xx_right .rz .sjyz {
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	background: url(../images/index.png) no-repeat;
	background-position: -62px top;
	background-position: left top;
	margin: 4px 0 0 8px;
}
.user_xx_l .xx_right .rz .yxyz {
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	background: url(../images/index.png) no-repeat;
	background-position: -40px top;
	background-position: -102px top;
	margin: 4px 0 0 8px;
}
.zh_xx_left h3 {
	font-size: 16px;
	border-bottom: 1px solid #e9e9e9;
	width: 506px;
	height: 38px;
	line-height: 26px;
}
.clearfix::after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}
.user-center-left .msg-ul {
	padding-bottom: 22px;
	width: 480px;
	margin-left: 50px;
}
.msg-ul li {
	float: left;
	font-size: 16px;
	margin-top: 18px;
	width: 200px;
}
.msg-ul li a {
	color: #ff9501
}
.see {
	color: #1180c7;
	font-size: 16px;
	line-height: 62px;
	text-align: center;
	width: 452px;
}
.see a {
	color: #107fc6;
}
.see a:hover {
	color: #ff9501;
}
.money-col {
	color: #ff9501;
}
.user_xx_r {
	width: 30%;
	float: right;
}
.user_xx_r p {
	text-align: right;
	color: #FFF;
	font-size: 16px;
	line-height: 30px;
	margin-top: 50px;
}
.user_xx_r i {
	display: block;
	font-size: 12px;
	text-align: right;
	color: #bebebe;
	margin-top: 5px;
}
.main {
	width: 1200px;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
}
.main_left {
	width: 182px;
	height: auto;
	float: left;
}
.main_right1 {
	width: 1198px;
	height: auto;
	overflow: hidden
}
.main_right {
	width: 1198px;
	height: auto;
	border: 1px solid #e9e9e9;
	overflow: hidden
}
.zh_xx_bg {
	width: auto;
	height: 234px;
	background: #f4f5fa;
	overflow: hidden
}
.zh_xx {
	width: 1200px;
	height: 234px;
	background: #f4f5fa;
	overflow: hidden;
	margin: 0 auto
}
.zh_xx_left {
	width: 600px;
	height: 178px;
	margin: 32px 10px;
	float: left;
	border-right: 1px dashed #d9d9d9;
}
.ye_bk {
	width: 400px;
	height: 50px;
	overflow: hidden;
}
.zh_ye {
	width: auto;
	height: 40px;
	margin-top: 18px;
}
.zh_ye .je {
	width: 154px;
	height: 30px;
	line-height: 30px;
	float: left;
}
.zh_ye .je a {
	font-size: 30px;
	color: #F60;
}
.but {
	width: 270px;
	margin-left: 150px;
}
.cz {
	width: 71px;
	height: 28px;
	background: #0e90d2;
	color: #fff;
	border: none;
}
.tx {
	width: 71px;
	height: 28px;
	border: 1px solid #0e90d2;
	background: #fff;
	margin-left: 10px;
}
.jyjl {
	height: 26px;
	line-height: 26px;
	margin-bottom: 10px;
}
.jyjl a {
	color: #0e90d2;
}
.aqdj {
	width: 400px;
	height: 20px;
	margin-bottom: 10px;
}
.aqdj span {
	width: 60px;
	height: 16px;
	display: block;
	float: left;
}
.aqdj a {
	display: block;
	width: 54px;
	height: 16px;
	line-height: 16px;
	float: left;
	background: url(../images/index.png) no-repeat;
	background-position: -124px top;
	color: #da8259;
	padding-left: 18px;
}
.wrz {
	width: 70px;
	display: block;
	float: left;
	margin-right: 10px
}
.wrz span {
	width: 18px;
	height: 15px;
	display: block;
	background: url(../images/index.png);
	float: left;
	background-position: -73px top;
	margin-top: 2px;
}
.wrz i {
	display: block;
	float: left;
	margin-left: 5px;
	color: #979797;
}
.wrz1 {
	width: 70px;
	display: block;
	float: left;
	margin-right: 10px
}
.wrz1 span {
	width: 15px;
	height: 17px;
	display: block;
	background: url(../images/index.png);
	float: left;
	background-position: -56px top;
	margin-top: 2px;
}
.wrz1 i {
	display: block;
	float: left;
	margin-left: 5px;
	color: #979797;
}
.wrz2 {
	width: 70px;
	display: block;
	float: left;
	margin-right: 10px
}
.wrz2 span {
	width: 20px;
	height: 13px;
	display: block;
	background: url(../images/index.png);
	float: left;
	background-position: -93px top;
	margin-top: 2px;
}
.wrz2 i {
	display: block;
	float: left;
	margin-left: 5px;
	color: #979797;
}
.zh_xx_right {
	position:relative;
	width: 500px;
	height: auto;
	margin: 0 auto;
	float: left;
	margin-top: 32px;
	margin-left: 76px;
}
.zh_xx_right h3 {
	border-bottom: 1px solid #e9e9e9;
	height: 38px;
	width: 550px;
}
.zh_xx_right h3 b {
	display: block;
	float: left;
	font-weight: bold;
	font-size: 16px;
}
.zh_xx_right h3 i {
	display: block;
	float: left;
	width: 30px;
	height: 15px;
	background: url(../images/index.png) no-repeat;
	background-position: 0 -42px;
	margin-left: 8px;
}
.zh_xx_right h3 span {
	font-size: 12px;
	color: #F00;
	font-weight: normal;
	margin-left: 8px;
}
.tell_hf {
	height: auto;
	margin-left: 35px;
}
.am-form-group {
	margin-top: 15px;
	clear: both;
}
.doc-ipt-email-1 {
	width: 270px;
	height: 34px;
	border: 1px solid #dddddd;
	padding-left: 10px;
}
.doc-select-1 {
	width: 270px;
	height: 34px;
	border: 1px solid #dddddd;
}
.doc-button-l {
	width: 100px;
	height: 36px;
	background: #f29713;
	color: #FFF;
	font-size: 14px;
	border: none;
	margin-left: 162px;
}
.doc-button-l-1 {
	width: 100px;
	height: 36px;
	background: #f29713;
	color: #FFF;
	font-size: 14px;
	border: none;
	margin-left: 132px;
}
.jl_bt {
	width: 1200px;
	height: 44px;
	line-height: 44px;
	margin: 0 auto
}
.jl_bt h3 {
	width: 100px;
	float: left;
	height: 44px;
	line-height: 44px;
	margin-left: 10px;
}
.jl_bt p {
	width: 302px;
	height: 44px;
	line-height: 44px;
	float: right;
	color: #bdbdbd
}
.jl_bt p a {
	color: #4691ce;
	margin: 0 5px 0 5px;
}
.jl_bt p a:hover {
	color: #ff7500
}
.am-table {
	width: 1200px;
	border: none;
	color: #666666;
	margin: 0 auto
}
.am-table thead {
	text-align: left;
	border-top: 2px solid #b3cfee;
}
.am-table thead tr {
	height: 40px;
}
.am-table thead th {
	border: none;
	background: #efefef;
	height: 37px;
	padding-left: 10px;
	font-size: 14px;
}
.am-table td {
	border: none;
	padding-left: 10px;
	font-size: 14px;
}
.am-table tr {
	height: 70px;
	border-bottom: 1px solid #dedede;
}
.am-table tr .zc {
	color: #ff7500;
	font-weight: bold;
}
.am-table tr .sr {
	color: #42c900;
	font-weight: bold;
}
.am-table tr a {
	color: #4691ce
}
.am-table1 {
	width: 1200px;
	border: none;
	color: #666666;
	margin: 0 auto
}
.am-table1 thead {
	text-align: left;
	border-top: 2px solid #b3cfee;
}
.am-table1 thead tr {
	height: 40px;
}
.am-table1 thead th {
	border: none;
	background: #efefef;
	height: 37px;
	padding-left: 20px;
	font-size: 14px;
}
.am-table1 td {
	border: none;
	padding-left: 20px;
	font-size: 14px;
}
.am-table1 tr {
	height: 70px;
	border-bottom: 1px solid #dedede;
}
.am-table1 tr .zc {
	color: #ff7500;
	font-weight: bold;
}
.am-table1 tr .sr {
	color: #42c900;
	font-weight: bold;
}
.am-table1 tr a {
	color: #4691ce
}
.gg {
	width: 1200px;
	height: 120px;
	margin: 0 auto;
	margin-top: 20px;
}
.gg2 {
	width: 1200px;
	height: 120px;
	margin-top: 10px;
	margin: 0 auto
}
.page-bg {
	width: 1200px;
	height: 44px;
	line-height: 44px;
	margin-top: 10px;
	margin: 0 auto
}
.page {
	width: 50%;
	float: left;
	padding-left: 10px;
	color: #666;
}
.page a {
	color: #666;
	margin-left: 5px;
}
.page a:hover {
	color: #F90;
}
.ck-qb {
	width: 50%;
	float: right;
	padding-right: 20px;
	text-align: right;
}
/*手机充值*/
.tell-cz {
	width: 590px;
	height: auto;
	margin: 0 auto;
	margin-top: 20px;
}
.cz-z {
	width: 1200px;
	height: auto;
	margin-top: 20px;
}
.cz-left {
	width: 970px;
	height: auto;
	float: left;
	border: 1px solid #ddd;
	padding-bottom: 20px;
}
.slogan {
	display: block;
	color: #ff6500;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 20px;
}
.form-label {
	cursor: text;
	float: left;
	font-size: 14px;
	line-height: 28px;
	margin-left: -135px;
	text-align: right;
	width: 125px;
}
.mobile-number {
	border: 1px solid #ddd;
	color: #333;
	font-size: 12px;
	font-weight: 700;
	height: 38px;
	line-height: normal;
	outline: 0 none;
	padding: 0 50px 0 10px;
	width: 208px;
}
.form-item {
	margin-bottom: 10px;
	padding-left: 38px;
	overflow: hidden;
}
.cz-mz li {
	width: 102px;
	height: 58px;
	border: 1px solid #ddd;
	line-height: 58px;
	font-size: 20px;
	text-align: center;
	float: left;
	margin-right: 10px;
}
.cz-mz li:hover {
	border: 1px solid #ff6500;
}
.cz-right {
	width: 210px;
	height: auto;
	float: right;
}
.hd {
	width: 210px;
	height: 275px;
	border: 1px solid #ddd;
	margin-top: 20px;
}
.hd h4 {
	height: 36px;
	line-height: 36px;
	background: #f7f7f7;
	padding-left: 10px;
}
.hd ul {
	width: 186px;
	height: auto;
	margin: 0 auto;
	margin-top: 10px
}
.hd ul li {
	height: auto;
	line-height: 24px;
	color: #666
}
.hd p {
	width: 186px;
	margin: 0 auto;
}
.rmb {
	color: #F00;
	font-size: 12px;
}
.group-left {
	width: 60px;
	text-align: right;
	display: inline-block;
	margin-right: 8px;
}
#error {
	position: absolute;
	font-size: 12px;
	color: #F00;
	display:none;
	top:62px;
	left:380px;
}
/*收支明细*/
.filter-area {
	background-color: #f4faff;
	border-top: 1px solid #d8eaf9;
	border-bottom: 1px solid #d8eaf9;
	padding: 20px 0 19px 42px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.tran-filter li::after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}
.tran-filter .date-li {
	height: 32px;
	line-height: 32px;
	width: 660px;
	margin: 0 auto;
}
.tran-filter li {
	height: 21px;
	line-height: 21px;
	overflow: hidden;
	padding-bottom: 14px;
}
.tran-filter .date-li .filter-label {
	height: 32px;
	line-height: 32px;
	margin-right: 10px
}
.tran-filter .filter-label {
	color: #333;
	float: left;
	font-weight: 700;
	height: 21px;
	line-height: 21px;
}
.tran-filter .calendar {
	background-position: 0 -261px;
}
.tran-filter .calendar {
	background-color: #fff;
	background-repeat: no-repeat;
	border: 1px solid #aaa;
	color: #666;
	cursor: pointer;
	font-size: 12px;
	height: 26px;
	line-height: 26px;
	padding: 2px 10px;
	width: 90px;
}
.tran-filter .btn-a {
	color: #666;
	display: inline-block;
	line-height: 21px;
	margin: 0;
	padding: 0 8px;
}
.tran-filter .btn-a:hover {
	background: #F90;
	color: #fff;
}
.detail-info .btn-a {
	color: #666;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
}
.detail-info a {
	color: #16387c;
}
/*充值页面*/

.wrapper {
	background-color: #f5f5f5;
	height: auto;
	padding-bottom: 35px;
	padding-top: 20px;
}
.w-1000 {
	margin: 0 auto;
	width: 1000px;
}
.tabs-header {
	border-bottom: 2px solid #a4ceff;
	clear: both;
	height: 48px;
	padding-top: 6px;
	position: relative;
	width: 100%;
}
.tabs-header ul {
	height: 46px;
	width: 100%;
}
.tabs-header li.active a {
	font-size: 14px;
	background: #fafcff none repeat scroll 0 0;
	border-color: #a4ceff #a4ceff #fafcff;
	color: #333;
	cursor: default;
	font-weight: 700;
}
.tabs-header li a {
	background: #fff;
	border: 2px solid #d0e7ff;
	color: #157efb;
	display: block;
	height: 42px;
	line-height: 42px;
	margin-right: 3px;
	text-align: center;
	width: 120px;
}
.tabs-header .recharge-detail {
	background: url(../images/cashdesk-icon-recharge.png) no-repeat;
	background-position: 0 -77px;
	color: #1c7bec;
	font-size: 12px;
	padding-left: 15px;
	position: absolute;
	right: 0;
	top: 24px;
}
.recharge-detail, .recharge-tips {
	background: url(../images/cashdesk-icon-recharge.png) no-repeat;
	background-position: left -100px;
}
.tabs-content.active {
	display: block;
}
.tabs-content {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: #fafcff none repeat scroll 0 0;
	border-color: -moz-use-text-color #a4ceff #a4ceff;
	border-image: none;
	border-style: none solid solid;
	border-width: 0 2px 2px;
	display: none;
	overflow-y: hidden;
}
.deposit-amount {
	background: #fafcff none repeat scroll 0 0;
	float: left;
	padding-bottom: 25px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.recharge-tips {
	background-color: #fffeeb;
	background-position: 9px -98px;
	border: 1px solid #f7f5cf;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	margin: 10px 20px 15px;
	padding-left: 33px;
}
.form-item .bank-pay-button, .bank-pay-button, .form-item .bank-pay-button:hover, .bank-pay-button:hover, .form-item .first-easy-pay-button, .first-easy-pay-button, .form-item .first-easy-pay-button:hover, .first-easy-pay-button:hover, .deposit-limit-panel .arrow span, .tabs-header .deposit-amount form {
	margin-top: 24px;
}
.deposit-amount form fieldset {
	border: none;
}
.deposit-amount .form-item {
	margin-left: 0px;
	margin-top: 0;
}
.form-item {
	margin-top: 12px;
}
.form-item label {
	padding-right: 5px;
	text-align: right;
	width: 144px;
}
.deposit-amount .form-input {
	height: 32px;
	line-height: 32px;
	width: 210px;
}
.cz-fs {
	width: 905px;
	height: auto;
	margin: 0 auto;
}
.zfb-cz {
	width: 905px;
	height: auto;
}
.cz-fs h4 {
	font-size: 16px;
	font-weight: normal;
	color: #666;
	margin-top: 10px;
}
.zfb-cz span {
	width: 165px;
	height: 38px;
	display: block;
	background: url(../images/bank-icon.png) no-repeat;
	background-position: -300px -762px;
	border: 1px solid #ddd;
	margin-top: 10px;
}
.zfb-cz span:hover {
	border: 1px solid #157efb;
}
.bank-cz {
	width: 905px;
	height: auto;
	margin: 0 auto;
	margin-top: 10px;
	overflow: hidden;
}
.bank-cz span {
	border: 1px solid #ddd;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.bank-cz span:hover {
	border: 1px solid #1573fb;
}
.icbc {
	display: block;
	width: 165px;
	height: 38px;
	background: url(../images/bank-icon.png) no-repeat;
	background-position: 24px top;
}
.js-bank {
	display: block;
	width: 165px;
	height: 38px;
	background: url(../images/bank-icon.png) no-repeat;
	background-position: -142px top;
}
.ny-bank {
	display: block;
	width: 165px;
	height: 38px;
	background: url(../images/bank-icon.png) no-repeat;
	background-position: -309px top;
}
.china-bank {
	display: block;
	width: 165px;
	height: 38px;
	background: url(../images/bank-icon.png) no-repeat;
	background-position: -461px top;
}
.yz-bank {
	display: block;
	width: 165px;
	height: 38px;
	background: url(../images/bank-icon.png) no-repeat;
	background-position: 24px -48px;
}
.zs-bank {
	display: block;
	width: 165px;
	height: 38px;
	background: url(../images/bank-icon.png) no-repeat;
	background-position: -303px -96px;
}
.jt-bank {
	display: block;
	width: 165px;
	height: 38px;
	background: url(../images/bank-icon.png) no-repeat;
	background-position: -134px -48px;
}
.zx-bank {
	display: block;
	width: 165px;
	height: 38px;
	background: url(../images/bank-icon.png) no-repeat;
	background-position: -307px -48px;
}
.gd-bank {
	display: block;
	width: 165px;
	height: 38px;
	background: url(../images/bank-icon.png) no-repeat;
	background-position: -471px -48px;
}
.cz-fs form {
	width: 905px;
	height: auto;
	margin-top: 20px;
}
.cz-fs form button {
	width: 164px;
	height: 35px;
	background: #e94643;
	border: none;
	color: #fff;
	border-radius: 3px 3px 3px 3px;
	font-weight: bold;
}
.line-bg {
	width: 905px;
	height: 2px;
	border-bottom: 1px dashed #ddd;
	margin-top: 30px;
	margin-bottom: 20px;
}
.cz-cg {
	width: 1200px;
	border: 1px solid #d9d9d9;
	overflow: hidden;
	padding-top: 50px;
}
.cz-cg h1 {
	padding-left: 120px;
	font-size: 20px;
	overflow: hidden;
}
.cz-cg h1 span {
	display: block;
	width: 25px;
	height: 25px;
	background: url(../images/cashdesk-icon-bind-card.png) no-repeat;
	background-position: left -460px;
	float: left
}
.cz-cg h1 b {
	display: block;
	float: left;
	line-height: 25px;
	margin-left: 10px;
}
.cz-cg p {
	padding-left: 165px;
	font-size: 14px;
	margin-top: 10px;
	background: url(../images/p-pic1.png) no-repeat 150px center;
	color: #676767;
}
.cz-cg p span {
	color: #e53c39;
}
.cz-kj {
	height: 70px;
	line-height: 70px;
	background: #fbfbfb;
	border-top: 1px solid #f0f0f0;
	font-size: 14px;
	padding-left: 150px;
	margin-top: 50px;
}
.cz-kj a {
	color: #1c7aeb;
}
.cz-kj a:hover {
	text-decoration: underline
}
/*提现*/
.szzh-tj {
	margin-left: 40px;
}
.control-item .djmx {
	background: #f5f5f3;
}
.djmx .find-time {
	text-align: center;
	height: 75px;
	line-height: 75px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background: #fff;
}
.djmx .find-time .sel {
	width: 85px;
	height: 30px;
	border: 1px solid #ccc;
	color: #666;
}
.djmx .find-time .txt {
	width: 124px;
	height: 30px;
	border: 1px solid #ccc;
	padding-left: 3px;
	line-height: 30px;
}
.djmx .find-time .find-btn {
	width: 56px;
	height: 30px;
	background: #f7f7f7;
	border: 1px solid #ccc;
	display: inline-block;
	margin-left: 11px;
	color: #353334;
	line-height: 30px;
}
.lineh47 {
	line-height: 47px;
}
.dj-table-wrap {
	width: 1100px;
	background: #fff;
	overflow: hidden;
}
.dj-table {
	width: 100%;
}
.dj-table tbody tr:hover {
	background: #e6eff3;
}
.dj-table tbody tr:hover a {
	text-decoration: underline;
}
.dj-table tr th {
	padding-left: 38px;
	text-align: left;
	line-height: 44px;
	background: #f7f7f7;
	border-bottom: 1px solid #ddd;
}
.dj-table tr td {
	padding-left: 38px;
	text-align: left;
	line-height: 44px;
	border-bottom: 1px dashed #ddd;
}
.dj-table tr .num-col {
	color: #00b62b;
}
.padleft5 {
	padding-left: 5px;
}
.txt {
	width: 120px;
	height: 24px;
	border: 1px solid #cacaca;
	padding-left: 6px;
	line-height: 24px;
}
.tx-title {
	margin-left: 25px;
	margin-top: 25px;
}
.tx-title-list {
	width: 113px;
	height: 40px;
	background: #d9dee4;
	float: left;
	text-align: center;
	line-height: 40px;
	margin-right: 1px;
	cursor: pointer;
	display: block;
	color: #666;
}
.tx-title .on {
	background: #546579;
	color: #fff;
}
.tx-title .borbot {
	width: 515px;
	height: 39px;
	border-bottom: 1px solid #d9dee4;
	float: left;
}
.tx-title .mr0 {
	margin-right: 0;
}
.tx-cont-wrap {
	width: 1200px;
}
.szzh-tj ul li {
	display: block;
	line-height: 56px;
}
.szzh-tj ul li .txt {
	width: 220px;
	height: 30px;
	border: 1px solid #ccc;
	margin-right: 20px;
	padding-left: 5px;
}
.szzh-tj ul li label {
	width: 120px;
	text-align: right;
	margin-right: 24px;
	display: inline-block;
}
.szzh-tj ul li .sel {
	height: 30px;
	border: 1px solid #ccc;
	margin-right: 12px;
	color: #666;
}
.szzh-tj ul li .qrtj-btn {
	width: 85px;
	height: 33px;
	background: #0093d3;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 33px;
	margin-top: 20px;
	margin-bottom: 30px;
	border-radius: 3px
}
.szzh-tx-top {
	width: 1146px;
	margin-left: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #fff2e2;
	color: red;
	line-height: 30px;
	background: #fffef1 url(../images/ico2.png) no-repeat 10px center;
	padding-left: 30px;
}
.szzh-tx-top a {
	color: #09F;
	text-decoration: underline;
}
.szzh-tx ul li {
	display: block;
	line-height: 40px;
}
.szzh-tx ul li label {
	width: 236px;
	text-align: right;
	display: inline-block;
}
.szzh-tx ul li .txt {
	width: 145px;
	height: 30px;
	border: 1px solid #ccc;
	padding-left: 5px;
}
.szzh-tx ul li .colred {
	margin-left: 14px;
	color: red;
}
.szzh-tx ul li .tx-btn {
	width: 85px;
	border-radius: 3px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	color: #fff;
	background: #0093d3;
	display: inline-block;
	font-size: 14px;
	margin-top: 27px;
	margin-bottom: 95px;
}
.txjl .txjl-table {
	width: 1160px;
	margin: 20px auto;
}
.szzh-tx ul .xgxx {
	width: 1146px;
	text-align: center;
	line-height: 50px;
	border-top: 1px solid #ddd;
	margin-top: 20px;
}
.err-hint {
	margin-left: 5px;
	color: red;
	display: none;
}
.page-box {
	width: 100%;
	text-align: center;
	color: #888;
	line-height: 66px;
}
.zh-zz-bt {
	width: 1200px;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	margin: 0 auto;
	overflow: hidden
}
.zh-zz-bt a {
	display: block;
	width: 100px;
	height: 60px;
	line-height: 60px;
	font-weight: bold;
	color: #5f5f5f;
	float: left;
	font-size: 14px;
	text-align: center;
}
.zh-zz-bt a:hover {
	border-bottom: 2px solid #39b7e0;
	color: #39b7e0;
}
.zh-zz-bt span {
	display: block;
	width: 100px;
	height: 60px;
	line-height: 60px;
	float: right;
}
.zh-zz-bt span a {
	float: left;
	font-size: 12px;
	font-weight: normal;
	display: block;
	color: #06F
}
.zh-zz-bt span a:hover {
	border-bottom: none;
}
.zh-zz-main {
	width: 930px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 20px;
}
.zh-zz-main-l {
	width: 560px;
	height: auto;
	float: left;
	margin-left: 54px;
}
.zh-zz-main-l form label {
	display: block;
	width: 100px;
	height: 32px;
	line-height: 32px;
	float: left;
	text-align: right;
	margin-right: 10px;
}
.zh-zz-main-l form div {
	overflow: hidden;
	margin-top: 10px;
}
.zh-zz-main-l form p {
	color: #999;
	width: auto;
	float: left;
	height: 32px;
	line-height: 32px;
}
.zh-zz-main-l form button {
	width: 135px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #FFF;
	background: #ff7701;
	margin-top: 10px;
}
.tex1 {
	width: 120px;
	height: 32px;
	border: 1px solid #ddd;
}
.zz-main-l form .cheng {
	color: #F60;
	font-size: 14px;
}
/*账户交易记录*/
.jy-lx {
	padding-left: 66px;
	overflow: hidden;
	margin-top: 20px;
}
.jy-lx p {
	float: left;
	font-weight: bold;
	margin-left: 180px;
	margin-right: 10px;
}
.jy-lx ul {
	float: left;
}
.jy-lx ul li {
	float: left;
	margin-right: 10px;
}
.jy-lx ul li a {
	color: #666
}
.jy-lx ul li a:hover {
	color: #F60;
}
.xg-zj-ma-cg {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 60px;
}
.xg-zj-ma-cg p {
	margin-top: 20px;
}
.cg {
	width: 218px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
.cg1 {
	width: 218px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
.cg span {
	display: inline-block;
	width: 32px;
	height: 27px;
	background: url(../images/index.png) no-repeat;
	background-position: -100px -128px;
}
.cg1 span {
	display: inline-block;
	width: 32px;
	height: 27px;
	background: url(../images/index.png) no-repeat;
	background-position: -100px -171px;
}
.cg b {
	display: inline-block;
	font-size: 20px;
	vertical-align: top
}
.cg1 b {
	display: inline-block;
	font-size: 20px;
	vertical-align: top
}
